<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyUPMClassroom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
	<style>
	*{
	    margin: 0;
	    padding: 0;
	}
	.login{
	    width: 400px;
	    padding: 40px;
	    margin-right: auto;
	    margin-left: auto;
	    margin-top: 50px;
	}
	.registro{
	    padding: 10px;
	}
	.textoError{
	 	position: relative;
	    text-align: center;
	    margin-top: 100px;
	    font-family:Georgia, 'Times New Roman', Times, serif;
	}
	.listaAulas{
	    margin-top: 10px;
	}
	ul.nav.nav-tabs{
	    margin-top: 20px;
	}
	.tab-content{
	  margin:20px;
	}
	</style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../">MyUPMClassroom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    #if($error)
      <h1 class="textoError">ERROR: $error</h1>
	#end
    <section class="login">
      <form action="/creaUsuario" method="post">
          <h1>MyUPMClassRoom</h1>
          <h1 class="h3 mb-3 fw-normal">Registro de usuario</h1>
          <div class="form-floating">
            <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre" title="Nombre" maxlength="50">
            <label for="nombre">Nombre</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="primer_apellido" name="primer_apellido" placeholder="Apellido 1" title="Apellido 1" maxlength="50">
            <label for="primer_apellido">Primer Apellido</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="segundo_apellido" name="segundo_apellido" placeholder="Apellido 2" title="Apellido 2" maxlength="50">
            <label for="segundo_apellido">Segundo Apellido</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="dni" name="dni" placeholder="DNI" title="Ej: 00000000X" pattern="[0-9]{8}[A-Z]{1}" maxlength="9">
            <label for="dni">DNI</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" title="Ej: name@alumnos.upm.es o name@upm.es" pattern="[a-zA-Z0-9._]+@[alumnos.]*upm\.es">
            <label for="email">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" title="8 carácteres como mínimo - Al menos 1 mayúscula y minúscula - Al menos 2 números" pattern="((?=.+\d)(?=.*[a-z])(?=.*[A-Z]).{8,20})" maxlength="20">
            <label for="password">Password</label>
          </div>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="alumno-tab" data-toggle="tab" href="#alumno" role="tab" aria-controls="alumno" aria-selected="true">Alumno</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pdi-tab" data-toggle="tab" href="#pdi" role="tab" aria-controls="pdi" aria-selected="false">PDI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pas-tab" data-toggle="tab" href="#pas" role="tab" aria-controls="pas" aria-selected="false">PAS</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="alumno" role="tabpanel" aria-labelledby="alumno-tab">
              <div class="form-floating">
                <input type="text" name="num_matricula" class="form-control" id="num_matricula" placeholder="Numero Matricula" title="Ej: br0000" pattern="b[a-z][0-9]{4}" maxlength="6">
                <label for="num_matricula">Numero Matricula</label>
              </div>
            </div>
            <div class="tab-pane fade" id="pdi" role="tabpanel" aria-labelledby="pdi-tab">
              <div class="form-group">
                <label for="categoria"> Seleccione su Rol: </label>
                <select class="form-control" id="catPDI" name="catPDI">
                  <option value="AYUDANTE">Ayudante</option>
                  <option value="PROFESOR_AYUDANTE">Profesor Ayudante</option>
                  <option value="PROFESOR_CONTRATADO_DOCTOR">Profesor Contratado</option>
                  <option value="PROFESOR_TITULAR">Profesor Titular</option>
                  <option value="CATEDRATICO">Catedratico</option>
                </select>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="cod_trabajador" name="cod_trabajador" placeholder="Codigo Trabajador" title="Ej: XXXXXXX" pattern="[A-Z]{7}" maxlength="7">
                <label for="cod_trabajador">Codigo Trabajador</label>
              </div>                
            </div>
            <div class="tab-pane fade" id="pas" role="tabpanel" aria-labelledby="pas-tab">
              <div class="form-floating">
                <input type="text" name="anioINC" class="form-control" id="anioINC" placeholder="Año de Incorporacion" title="Ej: 2021" pattern="[0-9]{4}" maxlength="4">
                <label for="anioINC">Año incorporacion</label>
              </div>
	      <div class="form-floating">
                <input type="text" class="form-control" id="codigo_personal" name="codigo_personal" placeholder="Codigo Personal" title="Ej: XXXXXXX" pattern="[A-Z]{7}" maxlength="7">
                <label for="codigo_personal">Codigo Personal</label>
              </div>
            </div>
          </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" id="but" name="but">Registro</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      </form>
    </section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>